.centro{
    width: 400px;
    background: aqua;  
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.outro{
    width: 300px;
    background:violet; 
    margin: 20px;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 5px;
    
}

